.game-box {
  padding: 20px; /* Reduced padding to allow more space for the grid */
  border-radius: 10px;
  background-color: #222;
  text-align: center;
  max-height: 90vh;
  width: 60vw; /* Adjust the width to fit the grid better */
  margin: 20px auto; /* Added some top and bottom margin */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflow */
}

/* ... other styles ... */

.numbers {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columns */
  grid-gap: 2px; /* Space between buttons */
  width: 100%; /* Grid width to match the container */
}

.number {
  background-color: #333;
  color: #fff;
  border: none; /* Removing border to reduce space */
  border-radius: 5px;
  margin: 0; /* Reset margin to keep items square */
  font-size: 0.9em; /* Adjust font size to fit */
  aspect-ratio: 1 / 1; /* Square aspect ratio */
  padding: 5%; /* Padding for sizing */
}

.number.disabled {
  background-color: #666;
  cursor: not-allowed;
}

/* Media query adjustments */
@media (max-width: 600px) {
  .game-box {
    font-size: 10px; /* Adjust font size for small screens */
    width: 90vw; /* Increase width to use more of the viewport */
    padding: 10px; /* Reduce padding */
  }
  
  .number {
    padding: 3%; /* Reduce padding for small screens */
    font-size: 2vw; /* Font size based on viewport width */
  }
}
