.game-box {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #222;
  color: #fff;
  text-align: center;
  height: 80vh;
  width: 80vw;
  max-width: 600px;
  font-family: 'Tauri', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  max-height: 50vh;
  overflow-y: auto;
}

button {
  background-color: #444;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

button:disabled {
  background-color: #333;
  cursor: not-allowed;
}

.reset-button {
  background-color: #d33;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #f55;
}
