@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Tauri&display=swap');

.game-box {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #222;
    text-align: center;
    height: 80vh;
    width: 80vw;
    max-width: 600px;
    margin: auto; 
    font-family: 'Tauri';
}

.hangman-image {
    width: 200px; 
    height: auto; 
}

.reset-button, .difficulty button {
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    color: #333;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Tauri'; 
}

.guesses-left {
    font-size: 64px !important;
    color: #eee;
    margin: 15px 0; 
    font-family: 'Rowdies';
}

.word, .guessed-letters, .result {
    color: #eee; 
    margin: 15px 0;
    font-family: 'Tauri'; 
}

.word {
    font-size: 36px;
    letter-spacing: 3px; 
    font-family: 'Rowdies'; 
}

.guesses-left, .guessed-letters {
    font-size: 28px;
    opacity: 0.7; 
}

.win-message {
    color: #28a745;
    background-color: rgba(0, 255, 0, 0.2); 

  }
  
  .loss-message {
    color: #dc3545;
    background-color: rgba(255, 0, 0, 0.2); 
  }
  

.result {
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
}

.reset-button, .difficulty button {
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    color: #333;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.reset-button:hover, .difficulty button:hover {
    background-color: #bbb;
    color: #222;
}

.difficulty button.active {
    background-color: #666;
    color: #fff;
}
