.game-box {
    padding: 40px;
    border-radius: 10px;
    background-color: #1a1a2e; 
    text-align: center;
    height: 80vh;
    width: 100vh;
    margin: auto;
    color: #e0e0e0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #0f3460; 
    color: #e0e0e0; 
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #185abd; 
}

.question {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff; 
}

.answers {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    align-items: center;
}


.answer-button {
    border-radius: 10px;
    color: #1a1a2e; 
    border: 1px solid #e0e0e0; 
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 100%;
    margin: 10px 0;
    background-color: #e0e0e0; 
}

.answer-button:hover {
    background-color: #cacfd9; 
    transform: scale(1.05); 
}

.time-bar {
    height: 20px;
    background-color: #e63946; 
    border-radius: 10px;
    max-width: 500px;
    transition: width 0.5s ease;
    align-self: center;
}

.feedback {
    font-size: 1.25rem;
    color: #f1faee; 
    margin: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.scoreboard {
    color: #a8dadc; 
    font-size: 1.2rem;
    margin-top: 20px;
}
