/* Header.css */
.App-header {
    background-color: #20232a !important;
    color: white !important;
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 5% !important;
    box-shadow: 0px 0px 44px #101115 !important;
    padding: 25px !important;
    z-index: 1000 !important;
  }